.animate-breathe {
  animation: 2s infinite alternate cubic-bezier(0, 0, 0.3, 1) breathe;
}

@keyframes breathe {
  from {
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    transform: scale(110%);
    opacity: 100%;
  }
}
