.animate-breathe {
  animation: breathe 2s cubic-bezier(0, 0, 0.3, 1) infinite alternate;
}

@keyframes breathe {
  from {
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    transform: scale(110%);
    opacity: 100%;
  }
}

.animate-appear {
  animation: appear 2s;
}

@keyframes appear {
  from {
    transform: translateY(15%) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1.0);
    opacity: 100%;
  }
}

.animate-swipe-left {
  animation: swipe-left 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes swipe-left {
  0%, 100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-30%);
  }
}

.animate-jump {
  animation: jump 1s ease-in-out;
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
}

.animate-wiggle {
  animation: wiggle 7s infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(-1deg);
  }
  10% {
    transform: rotate(1deg);
  }
  15% {
    transform: rotate(-1.5deg);
  }
  20% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(0);
  }
}