.animate-breathe {
  animation: 2s infinite alternate cubic-bezier(0, 0, 0.3, 1) breathe;
}

@keyframes breathe {
  from {
    transform: scale(100%);
    opacity: 0%;
  }
  to {
    transform: scale(110%);
    opacity: 100%;
  }
}

.animate-appear {
  animation: 2s appear;
}

@keyframes appear {
  from {
    transform: translateY(15%) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1.0);
    opacity: 100%;
  }
}

.animate-swipe-left {
  animation: 1s swipe-left cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes swipe-left {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-jump {
  animation: 1s jump ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}