@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Alice";
  src: url("./fonts/Alice/Alice-Regular.ttf");
}

.font-roboto {
  font-family: "Roboto Mono", serif;
}

.font-alice {
  font-family: "Alice", serif;
}